/*Custom Cascading sheet*/

.custom-arrow { @apply absolute top-0 right-0 block bg-gray-200 h-full w-[30px] pointer-events-none}
.custom-arrow::before,
.custom-arrow::after {
  --size: 0.5em;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before{
  border-left: var(--size) solid transparent ;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(46, 41, 41, 0.5);  
  top: 35%;
}

.custom-arrow::after{
  border-left: var(--size) solid transparent ;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(46, 41, 41, 0.5);  
  top:65%;
}

input[type="checkbox"]:checked::before {
  content: "\2714";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}

select[multiple] option:checked {
  background-color: blue !important;
  color: white !important;
}

/* input[type="checkbox"] {
  background-color: white;
  appearance: auto;
  
}

input[type="checkbox"]:checked {
  appearance: none;
  border: 2px solid green;
  background-color: lightgreen;
} */

.stamp {
  /* transform: rotate(0); */
	color: #555;
	font-weight: 700;
	border: 2px solid #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: capitalize;
	font-family: 'Courier';
  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
}

.is-approved {
	color: #0A9928;
  font-size: 1rem;
	border: 2px double #0A9928;
	-webkit-mask-position: 13rem 6rem;
	transform: rotate(3deg);
  border-radius: 5px;
} 

.is-nope {
  color: #D23;
  border: 0 double #D23;
  transform: rotate(3deg);
	-webkit-mask-position: 2rem 3rem;
  font-size: 1rem;  
  
}

.is-pending {
  color: rgb(25, 64, 168);
  transform: rotate(3deg);
	-webkit-mask-position: 2rem 3rem;
  font-size: 1rem;  
  border: 2px double rgb(32, 64, 204);
}

.is-waiting {
  color: rgb(19, 128, 136);
  transform: rotate(0);
	-webkit-mask-position: 2rem 3rem;
  font-size: 1rem;  
  border: 2px double rgb(32, 64, 204);
}


.watermark {
  position: absolute;
  color: #0A9928;
  opacity: 0.5;
  font-size: 10em;
  width: 80%;
  top: 50%;
  text-align: center;
  z-index: 0;
  transform: rotate(-35deg);
}